<center><h2> Sign up now! </h2>

<form action = "/users/new" method="post">
  <div class="form-group">
    <label for="InputEmail">Email</label>
      <input name = "email" type="email" class="span12" id="InputEmail" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="InputName">Username</label>
     <input name = "name" type="name" class="span12" id="InputName" placeholder="Username">
  </div>
   <div class="form-group">
    <label for="InputPassword">Password</label>
      <input name = "password" type="password" class="span12" id="InputPassword" placeholder="Password">
  </div>
    <button type="submit" class="btn btn-default">Login</button>
</form></center>