<h1><u>Check Out These Songz!</u></h1>

  <% if @songs %> 
    <% @songs.each do |song| %>
      <h4><%= song.title %></h4>
      <p><%= song.author %></p>
      <p>Link: <a href="<%= song.url %>"><%= song.url %></a></p>
    <% end %>
  <% end %>

  <a href="/songs/new">Post more songz</a>