<center><h2> What's Your Favourite Song? </h2>
<form action = "/song_create" method="post">
  <div class="form-group">
    <label for="InputTitle">Title</label>
     <input name = "title" type="title" class="span12" id="InputTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="InputAuthor">Author</label>
      <input name = "author" type="author" class="span12" id="InputAuthor" placeholder="Author">
  </div>
   <div class="form-group">
    <label for="InputURL">URL</label>
      <input name = "url" type="url" class="span12" id="InputURL" placeholder="URL">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Das My Fave S0ng!
    </label>
  </div>
  <button type="submit" class="btn btn-default">Add Song</button>
</form></center>